*{
    font-family: Poppins, arial;
    text-decoration: none;
    padding: 0%;
    margin: 0%;
    box-shadow:none;
}


#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 2%;
    margin-left: 6%;
    width: 90%;
    overflow: hidden;
}

body {
    background-color: rgb(215, 215, 240);
}

main {
    background-color: white;
}

#menu h2{
    color: rgb(81, 133, 247);
}

.start{
    width: 100%;
    height: 3.1em;
    border-radius: 5%;
    color: white;
    background-color: rgb(81, 133, 247);
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    
}

.menu_link{
    display: flex;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.description{
    margin-top: 15%;    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-bottom: 10%;
}

.description h1{
    width: 100%;
    font-size: 4.6em;
    color: rgb(81, 133, 247);
}

.description img{
    width: 100%;
}

.description p{
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.description a{
    text-align: center;
    font-size: 3em;
    color: white;
    background-color: rgb(81, 133, 247);
    border-radius: 15px;
    padding: 2.4%;
    font-weight: bold;
    margin-top: 5%;
    width: 60%;
}

#search {
    background-color: white;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(215, 215, 240) 45%, white 40%);
}

.search-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    padding: 1em;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.search-boxes {
    display: flex;
    width: 80%;
    margin: 1em ;
    padding: 1em;
    border: 3px solid rgb(118, 118, 245);
    border-radius: 15px;
    /* box-shadow: 0 2px 4px rgb(0, 0, 0); */
}

.search-boxes a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: black;
}

.search-boxes p {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-weight: bold;
    font-size: 2em;
}

.search-boxes p + p {
    font-weight: 300;
}

.search-button {
    width: 70%;
    height: 5em;
    background-color: #5175f7;
    border-radius: 13px;
}

.search-button a{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.6em;
    color: white;
    font-weight: bold;
    font-size: 2em;
    
}

.search-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.fa-house, .fa-credit-card, .fa-location-dot {
    color: rgb(182, 181, 181);
}

#slider > h2, #slider > p{
    text-align: center;
    color: rgb(81, 133, 247);
    margin-bottom: 0.5em;
}

#slider > p {
    margin-bottom: 2em;
}

#slider {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    margin-top: 10em;
    overflow: hidden;
    border: none;
}

.slider-frame {
    height: 10em;
    background-color: grey;
}

.slider-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-self: center;
    background-color: rgba(226, 221, 221, 0.363);
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
    overflow: hidden;
}

.slider-description {
    text-align:start;
    margin-left: 1em;
}

.slider-description p {
    color: rgb(81, 133, 247);
}

.slider-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: solid 1px blue;
    margin-top: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.slider-booking p, .slider-booking i {
    margin: 0;
    padding: 0;
}

.slider-booking div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;

}

.slider-button {
    background-color: rgb(81, 133, 247);
    padding: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-right: 1.5em;
    border-radius: 10px;
    color: white;
}

.fa-bed, .fa-shower {
    color: rgb(180, 180, 180);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(215, 215, 240);
    margin-bottom: 10em;
    padding-bottom: 5em;
}

.services-text {
    text-align: center;
}

.services-text h3 {
    font-size: 3em;
    color: rgb(81, 133, 247);
}

.services-text p {
    font-size: 2em;
}

.fa-handshake {
    padding: 1em;
    border-radius: 90%;
    background-color: white;
    color: rgb(81, 133, 247);
    margin: 1em;
}

.fa-bullhorn, .fa-screwdriver-wrench, .fa-key, .fa-arrow-trend-up, .fa-chart-simple {
    padding: 1em;
    border-radius: 90%;
    background-color: rgba(179, 177, 177, 0.644);
    color: rgb(81, 133, 247);
    margin: 1em;
}

.services-box-main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 1em;
    padding: 0.5em;
    background-color: rgb(81, 133, 247);
    border-radius: 13px;
    text-align: center;
}

.services-box-main h3 {
    font-size: 2em;
    font-weight: 500;
}

.services-box-main p {
    width: 80%;
    margin-bottom: 1.5em;
}

.services-box {
    border: solid 1px black;
    margin-top: 1.8em;
    width: 70%;
    text-align: center;
    border-radius: 13px;
    padding: 0.5em;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    height: 23em;
    background-color: white;
}

.services-box p {
    font-size: 2.3em;
    font-weight: bold;
    color: rgb(81, 133, 247);
}

#comments {
    text-align: center;
    font-size: 2em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.fa-star{
    color: orange;
}

#comments h2{
    color: #5175f7;
}


.comment-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    flex-wrap: wrap;
    background-color: rgba(180, 180, 180, 0.486);
    border-radius: 15px;
}

.comment-name {
    margin-top: 1em;
    margin-right: 3em;
}

.comment-box-text p{
    font-size: 1em;
    font-weight: 200;
}

.picture {
    background-color: lightgrey;
    width: 5em;
    height: 5em;
    border-radius: 90%;
    margin-top: 1em;
}

#footer {
    margin-top: 8em;
    background-color: rgba(180, 180, 180, 0.486);
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer h2 {
    color: #5175f7;
    font-size: 2em;
}


#contact-section {

    padding: 2em;
    border-radius: 15px;
    max-width: fit-content;
    margin: 2em auto;
    text-align: center;
}






.desktop{
    display: none;
}

@media screen and (min-width: 768px ) {
    .desktop{
        display:inline-block;
    }
    
    #menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 1.2em;
    }


    #menu > *{
        padding: 1%;
    }

    .start {
        width: 10%;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: center;
    }

    .menu_link a:hover {
        color: red;
    }

    #search {
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        padding: 0em;
    }
    
    .search-zone {
        display: flex;
        width: 100%;
    }

    .search-boxes {
        display: flex;
        flex-wrap: nowrap;
        width: 22%;
        margin: 1em;
        padding: 1em;
        height: 6em;
        border: 3px solid rgb(118, 118, 245);
        border-radius: 15px;
        /* box-shadow: 0 2px 4px rgb(0, 0, 0); */
    }

    .search-button {
        width: 10%;
        height: 5em;
        background-color: #5175f7;
        border-radius: 13px;
    }


    .mobile{
        display: none;
    }
    
}